/* line 25, ../../compass/sass/styles.sass */
body {
  background-color: #1d96d7;
}

/* line 29, ../../compass/sass/styles.sass */
.header {
  height: 60px;
  background-color: #fff;
}
/* line 32, ../../compass/sass/styles.sass */
.header .menu-wrapper {
  max-width: 960px;
  margin: auto;
}
/* line 35, ../../compass/sass/styles.sass */
.header .menu-wrapper li {
  float: left;
  padding: 20px;
  list-style-type: none;
}

/* line 40, ../../compass/sass/styles.sass */
.main-content {
  max-width: 960px;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
/* line 46, ../../compass/sass/styles.sass */
.main-content .header-image {
  text-align: center;
}
/* line 48, ../../compass/sass/styles.sass */
.main-content .header-image img {
  border-radius: 12px;
  max-width: 100%;
}
/* line 51, ../../compass/sass/styles.sass */
.main-content .left-content-bar {
  width: 69%;
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
  vertical-align: top;
}
/* line 57, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-bar-header {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #253b56;
}
/* line 63, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
/* line 66, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image {
  display: inline-block;
  max-width: 30%;
  vertical-align: top;
}
/* line 70, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image img {
  max-width: 100%;
}
/* line 72, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item .hero-text-wrapper {
  display: inline-block;
  max-width: 60%;
  margin-left: 16px;
}
/* line 76, ../../compass/sass/styles.sass */
.main-content .left-content-bar .left-block-items .left-block-item .hero-text-wrapper .block-header {
  font-weight: bold;
  font-size: 16px;
}
/* line 82, ../../compass/sass/styles.sass */
.main-content .right-content-bar {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}
/* line 86, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets {
  background-color: #1994d7;
  border-radius: 5px;
  text-align: center;
  padding: 25px 0px;
  margin: 20px 0px;
}
/* line 92, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets p {
  color: #fff;
  margin: 5px 0px;
}
/* line 95, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets .ticket-price {
  color: #fff;
  font-size: 36px;
}
/* line 98, ../../compass/sass/styles.sass */
.main-content .right-content-bar .tickets button {
  background-color: #1994d7;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
}
/* line 103, ../../compass/sass/styles.sass */
.main-content .right-content-bar .map {
  text-align: center;
}

/* line 106, ../../compass/sass/styles.sass */
form {
  clear: both;
}

/* line 109, ../../compass/sass/styles.sass */
#nav {
  overflow: hidden;
  margin: auto;
}
/* line 112, ../../compass/sass/styles.sass */
#nav ul {
  list-style: none;
}
/* line 114, ../../compass/sass/styles.sass */
#nav ul li {
  float: left;
  margin-left: 20px;
}

/* line 119, ../../compass/sass/styles.sass */
.features-wrapper {
  background-color: #eee;
  border-radius: 10px;
}
/* line 123, ../../compass/sass/styles.sass */
.features-wrapper .header-wrapper .header-text {
  font-size: 46px;
  font-family: Helvetica;
}
/* line 126, ../../compass/sass/styles.sass */
.features-wrapper .image-wrapper {
  text-align: center;
}
/* line 128, ../../compass/sass/styles.sass */
.features-wrapper .image-wrapper img {
  width: 97%;
  border-radius: 10px;
}
/* line 132, ../../compass/sass/styles.sass */
.features-wrapper .content-wrapper .content-text {
  font-family: Helvetica;
  font-size: 24px;
}
